In [1]:
from gui_construct import *
GUI_construct(10)

interactive(children=(IntSlider(value=0, description='time_step', max=10), Output()), _dom_classes=('widget-inâ€¦

In [7]:
HTML(a[0])

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

{0:    Level   Bids                          Bid_Vol    Asks  \
 0      1  99.99            [0, 0, 0, 0, 0, 0, 0]  100.01
 1      2  99.98            [0, 0, 0, 0, 0, 0, 5]  100.02
 2      3  99.97                          [80, 5]  100.03
 3      4  99.96              [70, 5, 5, 5, 5, 5]  100.04
 4      5  99.95        [60, 5, 5, 5, 5, 5, 5, 5]  100.05
 5      6  99.94                 [50, 5, 5, 5, 5]  100.06
 6      7  99.93                    [40, 5, 5, 5]  100.07
 7      8  99.92  [30, 5, 5, 5, 5, 5, 5, 5, 5, 5]  100.08
 8      9  99.91     [20, 5, 5, 5, 5, 5, 5, 5, 5]  100.09

                        Ask_Vols
 0                  [0, 0, 0, 0]
 1                  [0, 0, 0, 0]
 2              [45, 5, 5, 5, 5]
 3        [70, 5, 5, 5, 5, 5, 5]
 4                 [60, 5, 5, 5]
 5              [50, 5, 5, 5, 5]
 6           [40, 5, 5, 5, 5, 5]
 7              [30, 5, 5, 5, 5]
 8  [20, 5, 5, 5, 5, 5, 5, 5, 5]  ,
 1:    Level   Bids                          Bid_Vol    Asks  \
 0      1  99.99            [0, 0, 0, 0, 0, 0, 0]  100.01
 1      2  99.98            [0, 0, 0, 0, 0, 0, 5]  100.02
 2      3  99.97                          [80, 5]  100.03
 3      4  99.96              [70, 5, 5, 5, 5, 5]  100.04
 4      5  99.95        [60, 5, 5, 5, 5, 5, 5, 5]  100.05
 5      6  99.94                 [50, 5, 5, 5, 5]  100.06
 6      7  99.93                    [40, 5, 5, 5]  100.07
 7      8  99.92  [30, 5, 5, 5, 5, 5, 5, 5, 5, 5]  100.08
 8      9  99.91     [20, 5, 5, 5, 5, 5, 5, 5, 5]  100.09

                        Ask_Vols
 0                  [0, 0, 0, 0]
 1                  [0, 0, 0, 0]
 2              [45, 5, 5, 5, 5]
 3        [70, 5, 5, 5, 5, 5, 5]
 4                 [60, 5, 5, 5]
 5              [50, 5, 5, 5, 5]
 6           [40, 5, 5, 5, 5, 5]
 7              [30, 5, 5, 5, 5]
 8  [20, 5, 5, 5, 5, 5, 5, 5, 5]  ,
 2:    Level   Bids                          Bid_Vol    Asks  \
 0      1  99.99            [0, 0, 0, 0, 0, 0, 0]  100.01
 1      2  99.98            [0, 0, 0, 0, 0, 0, 5]  100.02
 2      3  99.97                          [80, 5]  100.03
 3      4  99.96              [70, 5, 5, 5, 5, 5]  100.04
 4      5  99.95        [60, 5, 5, 5, 5, 5, 5, 5]  100.05
 5      6  99.94                 [50, 5, 5, 5, 5]  100.06
 6      7  99.93                    [40, 5, 5, 5]  100.07
 7      8  99.92  [30, 5, 5, 5, 5, 5, 5, 5, 5, 5]  100.08
 8      9  99.91     [20, 5, 5, 5, 5, 5, 5, 5, 5]  100.09

                        Ask_Vols
 0                  [0, 0, 0, 0]
 1                  [0, 0, 0, 0]
 2              [45, 5, 5, 5, 5]
 3        [70, 5, 5, 5, 5, 5, 5]
 4                 [60, 5, 5, 5]
 5              [50, 5, 5, 5, 5]
 6           [40, 5, 5, 5, 5, 5]
 7              [30, 5, 5, 5, 5]
 8  [20, 5, 5, 5, 5, 5, 5, 5, 5]  ,
 3:    Level   Bids                          Bid_Vol    Asks  \
 0      1  99.99            [0, 0, 0, 0, 0, 0, 0]  100.01
 1      2  99.98            [0, 0, 0, 0, 0, 0, 5]  100.02
 2      3  99.97                          [80, 5]  100.03
 3      4  99.96              [70, 5, 5, 5, 5, 5]  100.04
 4      5  99.95        [60, 5, 5, 5, 5, 5, 5, 5]  100.05
 5      6  99.94                 [50, 5, 5, 5, 5]  100.06
 6      7  99.93                    [40, 5, 5, 5]  100.07
 7      8  99.92  [30, 5, 5, 5, 5, 5, 5, 5, 5, 5]  100.08
 8      9  99.91     [20, 5, 5, 5, 5, 5, 5, 5, 5]  100.09

                        Ask_Vols
 0                  [0, 0, 0, 0]
 1                  [0, 0, 0, 0]
 2              [45, 5, 5, 5, 5]
 3        [70, 5, 5, 5, 5, 5, 5]
 4                 [60, 5, 5, 5]
 5              [50, 5, 5, 5, 5]
 6           [40, 5, 5, 5, 5, 5]
 7              [30, 5, 5, 5, 5]
 8  [20, 5, 5, 5, 5, 5, 5, 5, 5]  ,
 4:    Level   Bids                          Bid_Vol    Asks  \
 0      1  99.98            [0, 0, 0, 0, 0, 0, 5]  100.01
 1      2  99.97                          [80, 5]  100.02
 2      3  99.96              [70, 5, 5, 5, 5, 5]  100.03
 3      4  99.95        [60, 5, 5, 5, 5, 5, 5, 5]  100.04
 4      5  99.94                 [50, 5, 5, 5, 5]  100.05
 5      6  99.93                    [40, 5, 5, 5]  100.06
 6      7  99.92  [30, 5, 5, 5, 5, 5, 5, 5, 5, 5]  100.07
 7      8  99.91     [20, 5, 5, 5, 5, 5, 5, 5, 5]  100.08
 8      9  99.90           [10, 5, 5, 5, 5, 5, 5]  100.09

                        Ask_Vols
 0                  [0, 0, 0, 0]
 1                  [0, 0, 0, 0]
 2              [45, 5, 5, 5, 5]
 3        [70, 5, 5, 5, 5, 5, 5]
 4                 [60, 5, 5, 5]
 5              [50, 5, 5, 5, 5]
 6           [40, 5, 5, 5, 5, 5]
 7              [30, 5, 5, 5, 5]
 8  [20, 5, 5, 5, 5, 5, 5, 5, 5]  ,
 5:    Level   Bids                          Bid_Vol    Asks  \
 0      1  99.99            [0, 0, 0, 0, 0, 0, 0]  100.01
 1      2  99.98            [0, 0, 0, 0, 0, 0, 5]  100.02
 2      3  99.97                          [80, 5]  100.03
 3      4  99.96              [70, 5, 5, 5, 5, 5]  100.04
 4      5  99.95        [60, 5, 5, 5, 5, 5, 5, 5]  100.05
 5      6  99.94                 [50, 5, 5, 5, 5]  100.06
 6      7  99.93                    [40, 5, 5, 5]  100.07
 7      8  99.92  [30, 5, 5, 5, 5, 5, 5, 5, 5, 5]  100.08
 8      9  99.91     [20, 5, 5, 5, 5, 5, 5, 5, 5]  100.09

                        Ask_Vols
 0                  [0, 0, 0, 0]
 1                  [0, 0, 0, 0]
 2              [45, 5, 5, 5, 5]
 3        [70, 5, 5, 5, 5, 5, 5]
 4                 [60, 5, 5, 5]
 5              [50, 5, 5, 5, 5]
 6           [40, 5, 5, 5, 5, 5]
 7              [30, 5, 5, 5, 5]
 8  [20, 5, 5, 5, 5, 5, 5, 5, 5]  ,
 6:    Level   Bids                          Bid_Vol    Asks  \
 0      1  99.99            [0, 0, 0, 0, 0, 0, 0]  100.02
 1      2  99.98            [0, 0, 0, 0, 0, 0, 5]  100.03
 2      3  99.97                          [80, 5]  100.04
 3      4  99.96              [70, 5, 5, 5, 5, 5]  100.05
 4      5  99.95        [60, 5, 5, 5, 5, 5, 5, 5]  100.06
 5      6  99.94                 [50, 5, 5, 5, 5]  100.07
 6      7  99.93                    [40, 5, 5, 5]  100.08
 7      8  99.92  [30, 5, 5, 5, 5, 5, 5, 5, 5, 5]  100.09
 8      9  99.91     [20, 5, 5, 5, 5, 5, 5, 5, 5]  100.10

                        Ask_Vols
 0                  [0, 0, 0, 0]
 1              [45, 5, 5, 5, 5]
 2        [70, 5, 5, 5, 5, 5, 5]
 3                 [60, 5, 5, 5]
 4              [50, 5, 5, 5, 5]
 5           [40, 5, 5, 5, 5, 5]
 6              [30, 5, 5, 5, 5]
 7  [20, 5, 5, 5, 5, 5, 5, 5, 5]
 8           [10, 5, 5, 5, 5, 5]  ,
 7:    Level   Bids                          Bid_Vol    Asks  \
 0      1  99.99            [0, 0, 0, 0, 0, 0, 0]  100.02
 1      2  99.98            [0, 0, 0, 0, 0, 0, 5]  100.03
 2      3  99.97                          [80, 5]  100.04
 3      4  99.96              [70, 5, 5, 5, 5, 5]  100.05
 4      5  99.95        [60, 5, 5, 5, 5, 5, 5, 5]  100.06
 5      6  99.94                 [50, 5, 5, 5, 5]  100.07
 6      7  99.93                    [40, 5, 5, 5]  100.08
 7      8  99.92  [30, 5, 5, 5, 5, 5, 5, 5, 5, 5]  100.09
 8      9  99.91     [20, 5, 5, 5, 5, 5, 5, 5, 5]  100.10

                        Ask_Vols
 0                  [0, 0, 0, 0]
 1              [45, 5, 5, 5, 5]
 2        [70, 5, 5, 5, 5, 5, 5]
 3                 [60, 5, 5, 5]
 4              [50, 5, 5, 5, 5]
 5           [40, 5, 5, 5, 5, 5]
 6              [30, 5, 5, 5, 5]
 7  [20, 5, 5, 5, 5, 5, 5, 5, 5]
 8           [10, 5, 5, 5, 5, 5]  ,
 8:    Level   Bids                          Bid_Vol    Asks  \
 0      1  99.98            [0, 0, 0, 0, 0, 0, 5]  100.01
 1      2  99.97                          [80, 5]  100.02
 2      3  99.96              [70, 5, 5, 5, 5, 5]  100.03
 3      4  99.95        [60, 5, 5, 5, 5, 5, 5, 5]  100.04
 4      5  99.94                 [50, 5, 5, 5, 5]  100.05
 5      6  99.93                    [40, 5, 5, 5]  100.06
 6      7  99.92  [30, 5, 5, 5, 5, 5, 5, 5, 5, 5]  100.07
 7      8  99.91     [20, 5, 5, 5, 5, 5, 5, 5, 5]  100.08
 8      9  99.90           [10, 5, 5, 5, 5, 5, 5]  100.09

                        Ask_Vols
 0                  [0, 0, 0, 0]
 1                  [0, 0, 0, 0]
 2              [45, 5, 5, 5, 5]
 3        [70, 5, 5, 5, 5, 5, 5]
 4                 [60, 5, 5, 5]
 5              [50, 5, 5, 5, 5]
 6           [40, 5, 5, 5, 5, 5]
 7              [30, 5, 5, 5, 5]
 8  [20, 5, 5, 5, 5, 5, 5, 5, 5]  ,
 9:    Level   Bids                          Bid_Vol    Asks  \
 0      1  99.99            [0, 0, 0, 0, 0, 0, 0]  100.02
 1      2  99.98            [0, 0, 0, 0, 0, 0, 5]  100.03
 2      3  99.97                          [80, 5]  100.04
 3      4  99.96              [70, 5, 5, 5, 5, 5]  100.05
 4      5  99.95        [60, 5, 5, 5, 5, 5, 5, 5]  100.06
 5      6  99.94                 [50, 5, 5, 5, 5]  100.07
 6      7  99.93                    [40, 5, 5, 5]  100.08
 7      8  99.92  [30, 5, 5, 5, 5, 5, 5, 5, 5, 5]  100.09
 8      9  99.91     [20, 5, 5, 5, 5, 5, 5, 5, 5]  100.10

                        Ask_Vols
 0                  [0, 0, 0, 0]
 1              [45, 5, 5, 5, 5]
 2        [70, 5, 5, 5, 5, 5, 5]
 3                 [60, 5, 5, 5]
 4              [50, 5, 5, 5, 5]
 5           [40, 5, 5, 5, 5, 5]
 6              [30, 5, 5, 5, 5]
 7  [20, 5, 5, 5, 5, 5, 5, 5, 5]
 8           [10, 5, 5, 5, 5, 5]  ,
 10:    Level   Bids                          Bid_Vol    Asks  \
 0      1  99.98            [0, 0, 0, 0, 0, 0, 5]  100.03
 1      2  99.97                          [80, 5]  100.04
 2      3  99.96              [70, 5, 5, 5, 5, 5]  100.05
 3      4  99.95        [60, 5, 5, 5, 5, 5, 5, 5]  100.06
 4      5  99.94                 [50, 5, 5, 5, 5]  100.07
 5      6  99.93                    [40, 5, 5, 5]  100.08
 6      7  99.92  [30, 5, 5, 5, 5, 5, 5, 5, 5, 5]  100.09
 7      8  99.91     [20, 5, 5, 5, 5, 5, 5, 5, 5]  100.10

                        Ask_Vols
 0              [45, 5, 5, 5, 5]
 1        [70, 5, 5, 5, 5, 5, 5]
 2                 [60, 5, 5, 5]
 3              [50, 5, 5, 5, 5]
 4           [40, 5, 5, 5, 5, 5]
 5              [30, 5, 5, 5, 5]
 6  [20, 5, 5, 5, 5, 5, 5, 5, 5]
 7           [10, 5, 5, 5, 5, 5]  }

In [1]:
from ob_helper import *
b_test=  Book(100)

In [2]:
b_test.generate_book()

   Level   Bids Bid_Vol    Asks  Ask_Vols
0      1  99.99   [100]  100.01       100
1      2  99.98    [90]  100.02        90
2      3  99.97    [80]  100.03        80
3      4  99.96    [70]  100.04        70
4      5  99.95    [60]  100.05        60
5      6  99.94    [50]  100.06        50
6      7  99.93    [40]  100.07        40
7      8  99.92    [30]  100.08        30
8      9  99.91    [20]  100.09        20

In [2]:
market_orders = market_order_poisson()

In [ ]:
market_orders

In [ ]:
lo = limit_order_poisson(100,30,0.1,5,book.bid_sched,book.ask_sched)
for i,v in lo.items():
    print(i,v[0])

In [ ]:
k = lo[23]
for i in k:
    print(i[0])

In [ ]:
b = Book(100)

In [ ]:
t = b.generate_book()

In [ ]:
j = widgets.Output()
with j:
    display(HTML(t.to_html()))

In [ ]:
widgets.HTML(t._repr_html_())

In [ ]:
def get_html_table(target_df, title):
    df_style = target_df.style.set_table_attributes("style='border:2px solid;font-size:10px;margin:10px'").set_caption(title)
    return df_style._repr_html_().render()

In [ ]:
h = get_html_table(t,"test")
k = widgets.HTML(widgets.HTML(t.style.set_table_attributes('class="table"').render()))
k

In [ ]:
h

In [ ]:
from IPython.display import display,HTML
display(widgets.HTML(h.render()))

In [ ]:
HTML(widgets.HTML(t.style.set_table_attributes('class="table"').render()))

In [ ]:
import pandas as pd
from ipywidgets import *
from IPython.display import display
import numpy as np

out = Output()
with out:
    display(pd.DataFrame(np.random.randn(10,5)))
display(HBox([out, out]))